In [ ]:
# default_exp core

# Core tests 

> Core tests are listed here.

In [ ]:
#hide
from nbdev.showdoc import *

## Path of notebook and python script execution

I had some problems with reading a file from certain directory when using python scripts and Jupyter Notebooks. 

On Windows the notebook could read a file from a path relative to the notebook; however the python script did read it from a relative path of VSC root (would be here /home/alois/Documents/development). Let us check this behaviour on Linux as well.

In [ ]:
#default_exp core

In [ ]:
#export
import pandas as pd
import os
import nbdev

In [ ]:
#export

data1 ={
    "ID" : [ 1, 2, 3, 4, 5],
    "age" : [ 0, 0, 0, 0, 0]
}

data2 = {
    "ID" : [ 1, 2, 3, 4, 5],
    "age" : [ 6, 7, 8, 9, 10]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
#export
curr_dir = os.getcwd()
print(curr_dir)

/home/alois/Documents/development/quicktest/nbs

In [ ]:
#export
real_path = os.path.realpath('.')
print(real_path)

/home/alois/Documents/development/quicktest/nbs

In [ ]:
#export
try: 
    dir_file = os.path.dirname(__file__)
except:
    dir_file = os.path.realpath('.')
print(dir_file)

/home/alois/Documents/development/quicktest/nbs

In [ ]:
data_path = os.path.dirname(dir_file)
data_file = os.path.join(data_path, "data", "dataframe1.csv")

In [ ]:
df2.to_csv(data_file)

In [ ]:
df3 = pd.read_csv(data_file)
df3

   Unnamed: 0  ID  age
0           0   1    6
1           1   2    7
2           2   3    8
3           3   4    9
4           4   5   10